{{!-- * Setup the `index.handlebars` to have the template that Handlebars can render onto.--}}
{{!--* Create a button in `index.handlebars` that will submit the user input into the database.--}}
<h1>Eat that Burger!</h1>
<p>Manage burgers with this app</p>

<!-- Pass in data from server.js -->

{{!--burger blocks--}}
{{!--index.handlebars--}}

<div class="burgerDevoured col-sm-12">
    <h2>burgers that are devoured!</h2>
    <ul>
        {{#each burgers}} 
        {{#if devoured}} 
    <li>
    {{burger_name}}
    </li>
        {{/if}} 
        {{/each}}
    </ul>
    
        
</div>
    
{{!--end of block--}}

<div id="toTry">
    <h2>To Try</h2>
<ul>
        {{#each burgers}}
        {{#unless devoured}}
    <li>
        
        <p><span class="label">ID:</span> {{this.id}}</p>
        <p><span class="label">Burger:</span> {{this.burger_name}}</p>
        <p><span class="label">Devoured:</span> {{this.devoured}}</p>
        <button data-id="{{this.id}}" class="devoured btn btn-outline-danger">Devour it!</button>
        
    </li>
        {{/unless}}
        {{/each}}

</ul>
</div>
<h2>Add a Burger</h2>
<form class="create-form col-sm-12">
    <div class="form-group">
        <label for="auth">Burger Name:</label>
        <input type="text" id="burger-name" name="name">
    </div>

    <button class="btn btn-outline-primary" type="submit">Add Burger</button>
</form>